---
layout: page
---

<!-- Start About Section 1 -->
<section id="about-section" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading-2">
                    <h3 class="about-section-title">
                        <span>{{ page.title1 }}</span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
           <div class="col-md-7">
                <div class="about-text">
                    {{ page.body1 }}
                </div>
            </div>
            <div class="col-md-5">
                <div class="about-img">
                    <img src="/images/ines.jpg" class="img-responsive" alt="About images">
                </div>
            </div>
        </div>
    </div>
</section>