---
layout: default
---

<!-- Start Header Section -->
<div class="banner">
    <div class="overlay">
        <div class="container">
            <div class="intro-text">
                <h1> {{ page.header }}</h1>
                <p>{{ page.subheader }}</p>
                <a href="apply" class="page-scroll btn btn-primary">APPLY NOW</a>
            </div>
        </div>
    </div>
</div>
<!-- End Header Section -->

<!-- Start About Us Section -->
<section id="about-section" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading-2">
                    <h3 class="about-section-title">
                        <span>{{ page.title1 }}</span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="about-text">
                    <p>{{ page.body1 }}</p>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading-2">
                    <h3 class="about-section-title">
                        <span>{{ page.title2 }}</span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="about-text">
                    <p>{{ page.body2 }}</p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="about-img">
                    <img src="/images/ines.jpg" class="img-responsive" alt="About images">
                </div>
            </div> 
        </div>
    </div>
</section>
    
<!-- Start Call to Action Section -->
<section class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow zoomIn" data-wow-duration="2s" data-wow-delay="300ms">
                <p>Apply today for funding for your<br>connective tissue disease research!</p>
                <a href="apply" class="page-scroll btn btn-primary">Apply Now</a>
            </div>
        </div>
    </div>
</section>
<!-- End Call to Action Section -->
    
<!-- Start Team Member Section -->
<section id="team-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center wow fadeInDown" data-wow-duration="2s" data-wow-delay="50ms">
                    <h2>Our Board</h2>
                </div>                        
            </div>
        </div>
        <div class="row">
            {% for member in site.members %}
            <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="300ms">
                <div class="team-member">
                    <img src="{{ member.img }}" class="img-responsive" alt="">
                    <div class="team-details">
                        <h4>{{ member.name }}</h4>
                        <p>{{ member.role }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>